@*@model WebBanHangOnline.Models.EF.Order*@

@{
    ViewBag.Title = "Admin Home";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
   
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1> Admin Page</h1>
            </div>
         
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h2 class="card-title">Total Order and Total Income Amount</h2>

           
        </div>
        <div class="card-body">
           <span>Total Order in this month: @ViewBag.CountItem</span>
        </div>
        <div class="card-body">
            <span>Total Income Amount in this month: @ViewBag.CountAmount.ToString("N") </span>
        </div>
        <!-- /.card-body -->
      
       
    </div>
    <!-- /.card -->

</section>
<!-- /.content -->